<!-- Generated template for the ModalImageComponent component -->
<ion-content id="container">
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
    <button class="btn-fechar" ion-button (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-grid  class="no-padding-top">
    <ion-row text-center align-items-center>
      <ion-col class="no-padding-top">
          <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>
          <img src="{{url_src}}" imageViewer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


