<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Teste de Security
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Esta tela é apenas para Testes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full color="royal" (click)="startPush()">Iniciar teste de Push</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full color="royal" (click)="logBadges()">Quantas badges {{badges}}</button>
      </ion-col>
      <ion-col>
        <button ion-button full color="danger" (click)="deleteBadges()">Limpar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
