// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toast-message {
    white-space: pre;
  }
  .bar-button{
      color: white;
  }
  .toolbar-title{
      color: white;
  }
  ion-toolbar{
      background-color: #f8f8f8 !important;
  }
  ion-header{
    background-color: #6D8046;
  }
//  .toolbar-background  {
//     background-color: transparent !important;
//   }
  ion-navbar.toolbar-md {
    margin-top: 10px !important;
  }
  ion-navbar.toolbar-ios {
    margin-top: 5px !important;
  }
  ion-backdrop{
    background-color: #fdfdfd !important;
  }