@import "../../theme/variables.scss";
page-contatos {
    ion-icon.avatarGrande.icon-md {
        font-size: 3.74em;
    }
    ion-icon.avatarGrande.icon-ios {
        font-size: 3.56em;
    }
    .gerenciaFilter {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background-color: map-get($colors, secondary_40);
        overflow: hidden;
        line-height: 30px;
        li {
            text-align: center;
            margin: auto;
            line-height: 30px;
            color: white;
            padding-right: 0.2em;
        }
        button {
            background-color: map-get($colors, secondary_40);
            font-size: 1.5em;
            height: auto;
            padding-top: 3px !important;
            float: right;
            color: white;
            border: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            ion-icon {
                font-size: 0.9em;
            }
        }
    }
    .gerenciaFilter:hover {
        cursor: pointer;
    }

    ion-avatar {
        color: map_get($colors, orange_80);
    }
    p {
        max-width: 200px;
        /* Tamanho */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.cargo {
            max-width: 100%;
            text-overflow: unset;
            white-space: unset;
        }
    }
    h2 {
        max-width: 200px;
        /* Tamanho */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .image-cropper-avatar {
        width: 35px;
        height: 35px;
        position: inherit;
        overflow: hidden;
        border-radius: 50%;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border: 2px solid #FFFFFF;
        margin-left: auto;
        margin-right: auto;
    }
    .circular {
        display: inline-block;
        margin: 0 auto;
    }
    .image {
        height: 5vw;
        width: 5vw;
        border: 2px solid #fff; // border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    ion-avatar[item-left] {
        width: 50px;
        figure {
            margin: 0;
            img {
                width: 100%;
                height: unset;
                border-radius: 0;
            }
        }
    }
    ion-label.label.label-md {
        figure {
            margin: 0 20px 0 0;
            float: left;
        }
    }
    figure {
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        img {
            width: 100%;
        }
    }
    .filtroContato{
        color: #6D8046;
    }
}
